@using BSUIR.BL.Interfaces.Models
@using BSUIR.BL.Interfaces.Models.Addresses
@using BSUIR.BL.Interfaces.Models.Customers
@using BSUIR.BL.Interfaces.Models.DeliveryAddresses
@inject Basket _Basket
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Customer customer = (Customer)ViewData["Customer"];
    DeliveryAddress deliveryAddress = new DeliveryAddress();
    Address address = new Address();
    var totalCost = _Basket.Price - (customer.Discount==null? 0 : customer.Discount * _Basket.Price / 100);
    if (ViewData["DeliveryAddress"] != null)
    {
        deliveryAddress = (DeliveryAddress)ViewData["DeliveryAddress"];
    }
    else
    {
        address = (Address)ViewData["Address"];
    }
}
<div data-step="2." class="shopping-cart__step-title">&nbsp;Подтверждение заказа</div>
<div>
    <div class="panel-simple offset-bottom-40">


        <div class="panel-simple-middle">
            <form asp-action="ConfirmOrder" asp-controller="Basket" method="post">
                <div style="padding: 20px; background-color: rgb(245, 245, 245);">


                    <div class="desktop-table shopping-cart__container">
                        <div class="desktop-table__cell shopping-cart__container _contact-data" style="width: 50%; background-color: rgb(245, 245, 245);">
                            <div>
                                <h4 class="form-title">Ваши контактные данные</h4>
                                <div class="row form-group">
                                    <label for="name" class="medium-4 large-6 column control-label">ФИО*</label>
                                    <div class="medium-4 large-6 column cart-confirm-form-left-block">
                                        <div for="name" class="medium-4 large-7 column control-label">@customer.Firstname @customer.Secondname @customer.Lastname</div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label for="mobile" class="medium-7 large-6 column control-label">Номер телефона*</label>
                                    <div class="medium-8 large-6 column cart-confirm-form-left-block">
                                        <!----> <!----> <!---->
                                        <label for="mobile" class="medium-4 large-6 column control-label">@customer.MobileNumber</label>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label for="email" class="medium-4 large-6 column control-label">Электронная почта <!----></label>
                                    <div class="medium-8 large-6 column cart-confirm-form-left-block">
                                        <label for="mobile" class="medium-4 large-6 column control-label">@ViewData["Email"]</label>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <div class="row">
                                <label for="comment" class="control-label" style="">Комментарий к заказу</label>
                                <div class="medium-7 large-12 column">
                                    <textarea rows="5" maxlength="1000" id="comment" name="Comment" wrap="soft" class="input-group-field" style="margin-top: 0px; margin-bottom: 10px; height: 127px;"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div style="float: right; margin-top: 125px; background-color: rgb(245, 245, 245);">
                        <div  class="h4" style="margin-right: 250px; padding: 25px;">
                            Общая стоимость: @_Basket.Price
                        </div>
                        <div class="h1" style="margin-right: 50px; padding: 25px; padding-bottom: 0px; margin-top: 100px; float: right;">Итого: @totalCost BYN</div>
                        <div style="margin-right: 50px; padding: 25px; margin-top: 105px; padding-bottom: 0px;" class="h4">Скидка: @customer.Discount %</div>

                        <input type="submit" style="width: 100%; margin-bottom: 0; margin-top: 7px" class="button" value="ЗАВЕРШИТЬ ОФОРМЛЕНИЕ" />
                    </div>
                    <div class="desktop-table__cell shopping-cart__container _shop">
                        <div class="one-shop-card">
                            <div class="one-shop-card-body clearfix">

                                @if (!_Basket.IsDelivery)
                                {
                                    <div class="one-shop-card-body-info-item one-shop-card-body-info-item-path" style="margin-top: 20px">Забрать в магазине</div>
                                    <div class="_top">
                                        <div class="_block1">
                                            <div class="one-shop-card-body-info-item one-shop-card-body-info-item-path" style="padding-right: 50px">
                                                <div class="one-shop-card-body-info-item-title">Населенный пункт <a>@deliveryAddress.City</a></div>
                                                <div class="one-shop-card-body-info-item-title">Адрес магазина <a>@deliveryAddress.Street, @deliveryAddress.House</a></div>
                                            </div>
                                            <div class="one-shop-card-body-info-item one-shop-card-body-info-item-shed">
                                                <h4 class="one-shop-card-body-info-item-title _schedule">График работы</h4>
                                                <div class="form-help">с 11:00 до 20:00 (пн - чт)<br>@deliveryAddress.WorkingHours</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="one-shop-card-body-info-item one-shop-card-body-info-item-path" style="margin-top: 20px">Доставка</div>
                                    <div class="_top">
                                        <div class="_block1">
                                            <div class="one-shop-card-body-info-item one-shop-card-body-info-item-path" style="padding-right: 50px">
                                                <div class="one-shop-card-body-info-item-title">Населенный пункт <a>@address.City</a></div>
                                                <div class="one-shop-card-body-info-item-title">Адрес доставки <a>@address.Street, @address.House</a></div>

                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="_block2">
                                    <div class="hor-line"></div>
                                    <div class="row clearfix" style="margin-left: 40px" row="">
                                        <label for="desired_delivery_date" class="control-label column">Желаемая дата получения</label>
                                        <div class="medium-7 large-7 column">
                                            <div class="form-date">
                                                <input id="desired_delivery_date" name="Date" type="date" class="form-input">
                                                <div class="form-date-icon"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                           
                        </div> <!----> <!---->
                    </div>
                </div>
                <div>
                    <div class="shopping-cart__step-title">Выбранные товары</div>
                    <section class="carousel-products">
                        <div class="selected-products carousel owl-carousel owl-theme owl-loaded owl-text-select-on">
                            <div class="owl-stage-outer">
                                
                                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s;">
                                    @foreach (var item in _Basket.Items)
                                    {<div class="owl-item active" style="width: 236px; margin-right: 5px;">

                                            <div class="product-item">
                                                <div class="product-item-head">
                                                    <div class="product-item-head-top">
                                                        <div class="product-item-head-img-wrapper"><img src="@item.Link"></div>
                                                    </div>
                                                    <div class="product-item-head-title"><a asp-action="Details" asp-controller="Items" asp-route-id="@item.Id" class="product-item-head-title-link" style="overflow-wrap: break-word;">@item.Name</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </form>
        </div>
    </div>
</div>